$logo-text-color: #090909;
@use "../../Main" as Main;

$font-wight: 600;
$logo-text-size: 40px;
$logo-line-height: 28px;

.logo {
  padding-top: 5px;
  @media (max-width: Main.$tablet) {
    padding: 0;
  }
}

.logo__text {
  font-size: $logo-text-size;
  line-height: $logo-line-height;
  font-weight: $font-wight;
  color: $logo-text-color;
  font-family: Main.$font;
}
