$products-description-min-width: 1104px;
$catalog-description-min-width: 283px;
$info-margin-right: 8px;
$row-bottom-max-width: 1000px;
$text-width: 1000px;
$name-weight: 500;
$name-size: 60px;
$rows-bottom: 10px;
$products-description-margin-right: 10px;
$catalog-description-margin-right: 4px;
$name-height: 44px;
$width: 100%;

@use "../../../../../../Main";

.description {
  @include Main.flex-column();

  &-row {
    display: flex;
    align-items: flex-start;
    width: $width;

    &__name {
      margin-right: $info-margin-right;
    }
  }

  &__up {
    margin-bottom: $rows-bottom;
  }

  &__bottom {
    width: $width;
    max-width: $row-bottom-max-width;
    max-height: 38px;
  }

  &__text {
    align-self: flex-start;
    max-width: $text-width;
  }
}

.products__description {
  min-width: $products-description-min-width;
  margin-right: $products-description-margin-right;
}

.catalog__description {
  min-width: $catalog-description-min-width;
  margin-right: $catalog-description-margin-right;
}

.product-name {
  color: Main.$black-color;
  font-size: $name-size;
  font-family: Main.$font;
  font-weight: $name-weight;
  line-height: $name-height;
}

.text {
  display: -webkit-box;
  max-width: $text-width;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  @include Main.typography();
}
