$products-description-min-width: 1104px;
$catalog-description-min-width: 283px;
$info-margin-right: 8px;
$row-bottom-max-width: 1000px;
$text-width: 1000px;
$rows-bottom: 10px;
$products-description-margin-right: 10px;
$catalog-description-margin-right: 4px;
$width: 100%;
$description-max-width: 1050px;
$products-description-tablet-width: 313px;

@use "../../../../../../Main";

.description {
  @include Main.flex-column();

  &-row {
    display: flex;
    align-items: flex-start;
    width: $width;

    &__name {
      max-width: $description-max-width;
      margin-right: $info-margin-right;
    }
  }

  &__bottom {
    width: $width;
    max-width: $row-bottom-max-width;
    max-height: 38px;
  }

  &__text {
    align-self: flex-start;
    max-width: $text-width;
  }
}

.products__description {
  min-width: $products-description-min-width;
  margin-right: $products-description-margin-right;
  @media (min-width: Main.$tablet) and (max-width: Main.$desktop - 1px) {
    min-width: $products-description-tablet-width;
  }
}

.catalog__description {
  min-width: $catalog-description-min-width;
  margin-right: $catalog-description-margin-right;
}

.text {
  display: -webkit-box;
  max-width: $text-width;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  @include Main.typography();
}
