@use "../../Main";

.menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.item {
  list-style: none;
  &:hover {
    cursor: pointer;
  }
}

.cart {
  background-image: url("../../../public/icons/cart.svg");
}

.order {
  background-image: url("../../../public/icons/order.svg");
}

.profile {
  background-image: url("../../../public/icons/profile.svg");
}

.likes {
  background-image: url("../../../public/icons/likes.svg");
}

.searching-panel__navigation,
.main__navigation {
  width: 100%;
}

.searching-panel__menu,
.main__menu {
  overflow-x: auto;
  scroll-behavior: smooth;
  cursor: grab;
  user-select: none;
}
