@use "../../../../../../Main";

$tag-up-radius: 4px;

.promo {
  position: absolute;
  @include Main.flex-column();
  bottom: 9px;
  left: 12px;
  height: 77px;
  max-width: 82px;
  justify-content: space-between;
  padding-top: 10px;
  @media (max-width: Main.$mobile + 1px) {
    height: 62px;
    max-width: 59px;
    left: 8px;
    &:has(+ .single-photo) {
      bottom: 18px;
    }
  }

  &__up {
  }
}

.tag {
  display: flex;
  justify-content: center;

  &-up {
    @include Main.typography();
    border-radius: $tag-up-radius;
    transform: rotate(-15deg);
    padding: 2px 6px 3px 6px;
    background-color: Main.$shop-light-gray;
    @media (max-width: Main.$mobile + 1px) {
      @include Main.discount-typography(15px, 550, Main.$shop-black, 100%);
      padding: 2px 3px 2px;
    }
  }

  &-bottom {
    width: 160px;
    height: 26px;
    border-radius: 4px;
    @media (max-width: Main.$mobile + 1px) {
      width: 110px;
      height: 21px;
    }
  }
}

.catalog-snippet-container__promo {
  display: none;
}
