@use "../../Main";

.categories {
  display: flex;
  width: 100%;
  overflow: hidden;

  @media (max-width: Main.$tablet + 1px) {
    overflow: auto;
  }
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  &__navigation {
    width: 100%;
  }

  &__menu {
    justify-content: space-between;
    overflow: hidden;
  }

  @media (max-width: Main.$mobile + 1px) {
    width: 100vw;
  }
}

.searching-panel__categories {
  margin-bottom: 16px;
}
