$photos-height: 600px;
$photos-height-mobile: 240px;
$photos-bottom: 4px;
$catalog-photos-bottom: 8px;
$photo-border-radius: 16px;
$photo-border-radius-mobile: 12px;
$max-width-double: 714px;
$max-width-quadro: 355px;
$max-width-double-mobile: 181px;
$first-invisible-point: 1120px;
$second-invisible-point: 841px;

@use "../../../../../Main";

.photos {
  display: flex;
  align-items: center;
}

.snippet__photos {
  position: relative;
  cursor: pointer;
}

.products-snippet__photos {
  margin-bottom: $photos-bottom;
}

.catalog-snippet__photos {
  margin-bottom: $catalog-photos-bottom;
}
