$photos-height: 600px;
$photos-height-mobile: 240px;
$photos-bottom: 4px;
$photo-border-radius: 16px;
$photo-border-radius-mobile: 12px;
$max-width-double: 714px;
$max-width-quadro: 355px;
$max-width-double-mobile: 181px;
$desktop-minus-one: 1439px;
$shop-shelbick-background: #faa700;
$shop-sunglasses-background: #2e09e5;
$first-invisible-point: 1120px;
$second-invisible-point: 841px;

@use "../../../../../Main";

.photos {
  position: relative;
  display: flex;
}

.snippet__photos {
  margin-bottom: $photos-bottom;
}

.anonymous_mask {
  background-image: url("../../../../../../public/products/Маска «Анонимус».png");
  background-color: Main.$shop-gray;
  background-repeat: no-repeat;

  &_left {
    @include Main.position-and-size(100.14px -15.801px, 72.717% 108.167%);
    @media (min-width: Main.$mobile) and (max-width: Main.$tablet - 1px) {
      @include Main.position-and-size(4.043px 5.514px, 100.331% 94.583%);
    }
  }

  &_right {
    @include Main.position-and-size(135.8px 44.98px, 61.961% 92.167%);
    @media (min-width: Main.$mobile) and (max-width: Main.$tablet - 1px) {
      @include Main.position-and-size(18.5px 49.379px, 79.558% 75%);
    }
  }
}

.sunglasses {
  background-image: url("../../../../../../public/products/Солнцезащитные очки.png");
  background-repeat: no-repeat;
  background-color: $shop-sunglasses-background;
  @include Main.position-and-size(376.816px -180.776px, 47.372% 153.235%);
  @media (max-width: $desktop-minus-one) and (min-width: Main.$tablet) {
    @include Main.position-and-size(center, contain);
  }
  @media (min-width: Main.$mobile) and (max-width: Main.$tablet - 1px) {
    @include Main.position-and-size(50%, cover);
  }
}
.thomas_shelbick_cap {
  background-image: url("../../../../../../public/products/Кепка Томаса Шелбика.png");
  background-repeat: no-repeat;
  background-color: $shop-shelbick-background;
  &_left {
    @include Main.position-and-size(-81.725px -90.677px, 130.177% 193.638%);
    @media (min-width: Main.$mobile) and (max-width: Main.$tablet - 1px) {
      @include Main.position-and-size(-23.697px 14.623px, 146.794% 138.384%);
    }
  }
  &_right {
    @include Main.position-and-size(16.345px -84.139px, 100% 148.75%);
    @media (min-width: Main.$mobile) and (max-width: Main.$tablet - 1px) {
      @include Main.position-and-size(0.474px 0, 106.077% 100%);
    }
  }
}

.elder_stick_2_pcs {
  background-image: url("../../../../../../public/products/Бузинная палочка 2 шт.png");
  background-repeat: no-repeat;
  background-color: Main.$shop-gray;
  &_first {
    @include Main.position-and-size(-392.433px -735.41px, 453.95% 331.091%);
    @media (min-width: Main.$mobile) and (max-width: Main.$tablet - 1px) {
      @include Main.position-and-size(-68.462px -216.926px, 266.168% 265.22%);
    }
  }
  &_second {
    @include Main.position-and-size(-205.029px 82.223px, 184.219% 130.014%);
    @media (min-width: Main.$mobile) and (max-width: Main.$tablet - 1px) {
      @include Main.position-and-size(-23.286px 36px, 130.002% 129.539%);
    }
  }
  &_third {
    @include Main.position-and-size(-71.007px 262.874px, 123.167% 87.368%);
  }
  &_fourth {
    @include Main.position-and-size(-1.439px 72px, 128.265% 90.524%);
  }
}
