@use "../../../../../../../Main";

$button-width: 294px;
$button-mobile-width: 298px;
$catalog-buy-button-width: 152px;
$catalog-buy-button-width-mobile: 169px;

.buy-button {
  display: flex;
  border: none;
  @include Main.flex-between();
  align-items: center;

  border-radius: Main.$button-border-radius;
  background-color: Main.$shop-red;
  white-space: nowrap;
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      background: Main.$shop-fire;
    }
  }
}

.products-buy-button {
  padding: 14px 24px 16px;
  width: $button-width;
  @media (max-width: Main.$tablet) {
    width: $button-mobile-width;
  }
}

.buy__buy-button {
  @media (max-width: Main.$tablet) {
    display: none;
  }
}

.info__buy-button {
  display: none;
  @media (max-width: Main.$tablet) {
    display: flex;
  }
}

.catalog-buy-button {
  padding: 12px 24px;
  width: $catalog-buy-button-width;
  @media (max-width: Main.$mobile + 1px) {
    margin-top: 8px;
    width: $catalog-buy-button-width-mobile;
  }
}
