@use "../../../Main" as Main;

.heading-amount {
  display: flex;
  align-items: flex-end;
  padding-left: 12px;
  @media (max-width: Main.$mobile + 1px) {
    display: none;
  }
}

.catalog__heading-amount {
}
