$proof-size: 16px;
$proof-text-weight: 412;
$products-snippet-star: "/icons/black-star.svg";
$catalog-snippet-star: "/icons/white-star.svg";
$products-snippet-heart: "/icons/black-heart.svg";
$catalog-snippet-heart: "/icons/white-heart.svg";

@use "../../../../../../../../../Main";

.proof {
  display: flex;

  &__icon {
    width: 14px;
    height: 14px;
  }
}

.catalog-proof {
  @media (max-width: Main.$mobile + 1px) {
    margin-right: 7px;
    flex-direction: row-reverse;
  }
}

.main__products-proof-star,
.catalog__catalog-proof-star {
  background-image: url($products-snippet-star);
}

.main__catalog-proof-star {
  background-image: url($catalog-snippet-star);
}

.main__products-proof-like,
.catalog__catalog-proof-like {
  background-image: url($products-snippet-heart);
}

.main__catalog-proof-like {
  background-image: url($catalog-snippet-heart);
}

.proof-text {
  @include Main.discount-typography;
}

.products-proof-text {
  @include Main.small-regular;
}

.main__products-proof-text {
  color: Main.$shop-black;
}

.catalog-proof-text {
  @include Main.small-medium;
}

.main__catalog-proof-text {
  color: Main.$shop-white;
}
