@use "../../../Main" as Main;

$ico-width: 32px;
$input-font-size: 22px;
$input-font-weight: 412;
$margin-bottom-mobile: 16px;
$border-radius: 16px;

.search {
  display: flex;
  padding: 13px 12px 15px;
  border-radius: 0 0 16px 16px;
  background-color: Main.$shop-almost-white;
  width: 100%;

  &:hover,
  & *:hover {
    cursor: pointer;
  }

  &-ico {
    display: block;
    outline: none;
    border: none;
    width: $ico-width;
    height: $ico-width;
    background: url("/icons/search-pale.svg") no-repeat;
  }

  &__search-ico {
    margin-right: 8px;
  }

  &-input {
    width: 100%;
    background-color: Main.$shop-almost-white;
    display: block;
    border: none;
    @include Main.regular(Main.$shop-black);
    @media (max-width: Main.$mobile + 1px) {
      max-width: 287px;
    }

    &:active,
    &:focus {
      border: none;
      outline: none;
    }
  }

  ::placeholder {
    width: 100%;
    color: Main.$shop-gray;
    font-family: Main.$font;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    line-height: 100%;
    font-feature-settings:
      "case" on,
      "cpsp" on,
      "ss01" on,
      "ss04" on,
      "cv01" on,
      "cv02" on,
      "cv03" on,
      "cv04" on,
      "calt" off;
  }

  @media (max-width: Main.$mobile + 1px) {
    padding: 8px 12px 10px 12px;
    border-radius: $border-radius;
    margin-bottom: $margin-bottom-mobile;
  }
}

.popup-open {
  overflow: hidden;
}

.searching-panel__search {
  margin-bottom: 16px;
}
