@use "../../../Main" as Main;

.filters-sorting {
  display: flex;
  padding: 0 8px 0 12px;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 28px;
  margin-bottom: 18px;
  width: 100%;
  @media (max-width: Main.$filters-sorting-change-point) {
    flex-direction: row-reverse;
    padding: 0 12px 0 8px;
    margin-bottom: 8px;
  }
  @media (max-width: Main.$mobile + 1px) {
    margin-top: 0;
  }
}
