@use "../../../../../../../Main";
@use "../../Photos";

$quarter-left-max-width: 1068px;
$quarter-right-max-width: 360px;
$photo-left-width: 75%;
$photo-right-width: 25%;

.quarter-photos {
  width: 100%;
  @include Main.flex-between();
  height: Photos.$photos-height;
  @media (min-width: Main.$mobile) and (max-width: Main.$tablet - 1px) {
    height: Photos.$photos-height-mobile;
  }
}

.quarter-photos__photo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: Photos.$photo-border-radius;
}

.quarter-photos__photo_1 {
  width: $photo-left-width;
  min-width: $photo-left-width;
  max-width: $quarter-left-max-width;
  margin-right: 4px;

  @media (max-width: $quarter-left-max-width) {
    width: 100%;
    margin-right: 0;
  }
}

.quarter-photos__photo_2 {
  width: $photo-right-width;
  max-width: $quarter-right-max-width;

  @media (max-width: $quarter-left-max-width) {
    display: none;
  }
}
