$heading-size: 163px;
$heading-line-height: 80%;
$heading-letter-spacing: -6.52px;
$catalog-heading-height: 107px;

@use "../../../Main";

.heading {
  display: flex;
  position: relative;
}

.heading-text {
  transform: rotate(-5deg);
  font-size: $heading-size;
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
  @media (min-width: Main.$tablet) and (max-width: 1050px) {
    font-size: 15vw;
  }
}

.catalog__container__heading {
  height: $catalog-heading-height;

  &-text {
    color: Main.$shop-black;
    position: absolute;
    top: -10px;
    z-index: 1;
  }
}

.treasures-heading {
  font-family: Main.$font-doodle;
}

.sale-heading {
  font-family: Main.$font-beastly;
}

.home-heading {
  font-family: Main.$font-rubik;
}
