@use "../../Buy";
@use "../../../../../../../../Main";
$text-discount: 39px;
$price-discount-mobile: 22px;
$card-text-discount: 40px;
$text-discount-weight: 700;
$discount-size: 15px;
$text-weight: 550;

.price {
  display: flex;
  align-items: flex-end;
}

.current-price {
  text-align: center;
}

.products-current-price {
  @include Buy.discount-typography(
    $text-discount,
    $text-discount-weight,
    Main.$black-color,
    100%
  );
  @media (max-width: Main.$mobile + 1px) {
    line-height: 36px;
  }
}

.catalog-current-price {
  @include Buy.discount-typography(
    $card-text-discount,
    $text-discount-weight,
    Main.$shop-white,
    72%
  );
  @media (min-width: Main.$mobile) and (max-width: Main.$desktop - 1px) {
    font-size: Main.set-new-value(
      $card-text-discount,
      $price-discount-mobile,
      Main.$desktop - 1px,
      Main.$mobile
    );
  }
  @media (max-width: Main.$mobile + 1px) {
    @include Main.medium-style;
    line-height: 21px;
  }
}

.old-price {
  font-style: normal;
  @include Buy.discount-typography(
    $discount-size,
    $text-weight,
    Main.$shop-gray,
    72%
  );
  text-decoration: line-through;
  align-self: flex-end;
}

.products-old-price {
  color: Main.$shop-gray;
  margin-bottom: 6px;
}

.catalog-old-price {
  color: Main.$catalog-old-price-color;
}
