@use "../../../../../../../../Main";

$text-discount: 39px;
$price-discount-mobile: 22px;
$card-text-discount: 40px;
$text-discount-weight: 700;
$discount-size: 15px;
$text-weight: 550;
$line-height-mobile: 36px;

.price {
  display: flex;
  align-items: flex-end;
}

.catalog-price {
  @media (min-width: Main.$mobile + 2px) and (max-width: Main.$tablet) {
    flex-direction: column;
  }
  @media (max-width: Main.$mobile + 1px) {
    flex-direction: initial;
  }
}

.current-price {
  @include Main.discount-typography;
  text-align: center;
}

.products-current-price {
  font-size: $text-discount;
  font-weight: $text-discount-weight;
  line-height: 100%;
  @media (max-width: Main.$mobile + 1px) {
    line-height: $line-height-mobile;
  }
}

.main__products-current-price,
.catalog__catalog-current-price {
  color: Main.$shop-black;
}

.catalog-current-price {
  @include Main.price;
  white-space: nowrap;
  @media (min-width: Main.$mobile) and (max-width: Main.$desktop - 1px) {
    font-size: Main.set-new-value(
      $card-text-discount,
      $price-discount-mobile,
      Main.$desktop - 1px,
      Main.$mobile
    );
  }
  @media (max-width: Main.$mobile + 1px) {
    @include Main.medium-style;
    line-height: 21px;
  }
}
.main__catalog-current-price {
  color: Main.$shop-white;
}

.old-price {
  position: relative;
  font-style: normal;
  line-height: 72%;
  align-self: flex-end;
  @include Main.discount-typography;
  @include Main.small-medium;
}

.strikeout {
  position: absolute;
  bottom: 7px;
  width: 100%;
  height: 1px;
}

.main__products-strikeout,
.catalog__catalog-strikeout {
  background-color: Main.$shop-gray;
  filter: drop-shadow(0px 1px 0px #fff);
}

.main__catalog-strikeout {
  background-color: Main.$catalog-old-price-color;
  filter: drop-shadow(0px 1px 0px #01b8ff);
}

.products-old-price {
  margin-bottom: 6px;
}

.main__products-old-price,
.catalog__catalog-old-price {
  color: Main.$shop-gray;
}

.catalog-old-price {
  white-space: nowrap;
}

.main__catalog-old-price {
  color: Main.$catalog-old-price-color;
}
