$snippet-margin-bottom: 50px;
$photos-height: 600px;
$photos-bottom: 4px;
$info-width: 1104px;
$info-margin-right: 8px;
$name-size: 60px;
$name-line-height: 87%;
$name-weight: 500;
$text-weight: 550;
$like-size: 45px;
$max-width: 714px;
$photo-border-radius: 16px;
$text-width: 1000px;
$text-size: 22px;
$proof-size: 16px;
$proof-text-weight: 412;
$snippet-min-width: 1104px;
$row-bottom-max-width: 1000px;
$button-width: 294px;
$button-mobile-width: 298px;
$text-discount: 39px;
$text-discount-weight: 700;
$discount-size: 15px;
$tag-up-radius: 4px;

@use "../../../Main.scss";

@mixin typography($color: Main.$shop-black) {
  color: $color;
  font-variant-numeric: ordinal;
  font-feature-settings:
    "dlig" on,
    "ss01" on,
    "ss04" on,
    "cv01" on,
    "cv02" on,
    "cv03" on,
    "cv04" on;
  font-family: Main.$font;
  font-size: 22px;
  font-style: normal;
  font-weight: 550;
  line-height: 100%;
}

@mixin discount-typography($size, $weight, $color: Main.$shop-black) {
  color: $color;
  font-variant-numeric: ordinal;
  font-feature-settings:
    "dlig" on,
    "ss01" on,
    "ss04" on,
    "ss07" on,
    "ss08" on,
    "cv01" on,
    "cv02" on,
    "cv03" on,
    "cv04" on;
  font-family: Main.$font;
  font-size: $size;
  font-weight: $weight;
  line-height: 100%;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
}

.snippet {
  @include flex-column();
}

.snippet-container {
  margin-bottom: $snippet-margin-bottom;
  padding: 0 4px;

  &__info {
    max-width: $info-width;
    padding: 4px 12px 0;
  }
}

.photos {
  position: relative;
  @include flex-between();
  width: 100%;
  height: $photos-height;
}

.snippet__photos {
  margin-bottom: $photos-bottom;
}

.promo {
  position: absolute;
  @include flex-column();
  bottom: 9px;
  left: 12px;
  height: 77px;
  max-width: 82px;
  justify-content: space-between;
  padding-top: 10px;
  &__up {
  }
}

.tag {
  display: flex;
  justify-content: center;

  &-up {
    @include typography();
    border-radius: $tag-up-radius;
    transform: rotate(-15deg);
    padding: 2px 6px 3px 6px;
    background-color: Main.$light-gray-color;
  }

  &-bottom {
    width: 160px;
    height: 26px;
    border-radius: 4px;
    background: url("../../../../public/tags/Autumn_huge.png") no-repeat;
  }
}

.photo-double_left,
.photo-double_right {
  width: 50%;
  max-width: $max-width;
  border-radius: $photo-border-radius;
}

.anonymous_mask {
  background-image: url("../../../../public/products/Маска «Анонимус».png");
  background-color: lightgray;
  background-repeat: no-repeat;

  &_left {
    background-position: 100.14px -15.801px;
    background-size: 72.717% 108.167%;
  }

  &_right {
    background-position: 135.8px 44.98px;
    background-size: 61.961% 92.167%;
  }
}

.info {
  display: flex;
}

.description {
  @include flex-column();

  &-row {
    display: flex;
    align-items: flex-start;
    width: 100%;

    &__name {
      margin-right: $info-margin-right;
    }
  }

  &__up {
  }

  &__bottom {
    width: 100%;
    max-width: $row-bottom-max-width;
  }

  &__text {
    align-self: flex-start;
    max-width: $text-width;
  }
}

.snippet__description {
  min-width: $snippet-min-width;
  margin-right: 10px;
}

.product-name {
  color: Main.$black-color;
  font-size: $name-size;
  font-family: Main.$font;
  font-weight: $name-weight;
  line-height: 44px;
}

.like {
  width: calc($like-size + 1px);
  height: $like-size;
  background: url("../../../../public/icons/heart.svg") no-repeat;

  &:hover {
    cursor: pointer;
    background: url("../../../../public/icons/heart-hover.svg") no-repeat;
  }
}

.text {
  display: -webkit-box;
  max-width: 1000px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  @include typography();
}

.buy {
  @include flex-column();
  width: $button-width;
  margin-bottom: 6px;
  justify-content: space-between;

  &-button {
    @include flex-between();
    align-items: center;
    width: $button-width;
    padding: 14px 24px 16px;
    border-radius: Main.$button-border-radius;
    background-color: Main.$button-color;
    @media (max-width: Main.$mobile) {
      width: $button-mobile-width;
    }

    &:hover {
      cursor: pointer;
      background: Main.$button-hover;
    }
  }

  &-text {
    color: Main.$white-color;
    text-align: center;
    @include typography(Main.$white-color);
  }
}

.price {
  display: flex;
  align-items: flex-end;

  &-discount {
    text-align: center;
    @include discount-typography($text-discount, $text-discount-weight);
  }

  &__old-price {
    margin-bottom: 6px;
  }
}

.price-proof {
  @include flex-between();
}

.old-price {
  font-style: normal;
  @include discount-typography($discount-size, $text-weight, Main.$shop-gray);
  text-decoration: line-through;
  align-self: flex-end;
}

.proof-container {
  @include flex-column();
  align-items: flex-end;
}

.proof {
  display: flex;
  align-items: flex-end;

  &__text {
    @include discount-typography($proof-size, $proof-text-weight);
  }

  &__icon {
    width: 14px;
    height: 14px;
    background-image: url("../../../../public/icons/black-star.svg");
  }

  &-star {
    background-image: url("../../../../public/icons/black-star.svg");
  }

  &-like {
    background-image: url("../../../../public/icons/black-heart.svg");
  }
}
