@use "../../Main" as Main;

.search {
  display: flex;
  padding: 13px 12px 15px;
  border-radius: 0 0 16px 16px;
  background-color: Main.$shop-almost-white;
  width: 100%;
  &:hover,
  & *:hover {
    cursor: pointer;
  }

  &-ico {
    width: 32px;
    height: 32px;
    background: url("icons/search-pale.svg") no-repeat;
  }

  &__search-ico {
    margin-right: 8px;
  }

  &-input {
    border: none;
    background-color: Main.$shop-almost-white;
    display: block;
    width: 100%;
    color: Main.$shop-gray;
    font-family: Main.$font;
    font-size: 22px;
    font-weight: 412;
    line-height: 100%;
    font-feature-settings:
      "case" on,
      "cpsp" on,
      "ss01" on,
      "ss04" on,
      "cv01" on,
      "cv02" on,
      "cv03" on,
      "cv04" on,
      "calt" off;
    &:active,
    &:focus {
      border: none;
      outline: none;
    }
  }
}
