@use "../../../../../../Main";

$block-width: 294px;
$buy-text-line-height: 72%;

.buy {
  &-text {
    color: Main.$shop-white;
    margin: 0 auto;
    @include Main.typography(Main.$shop-white);
  }
}

.catalog-buy-text {
  line-height: $buy-text-line-height;
}
