@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  src: url("../public/fonts/InterVariable.woff2") format("woff2");
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}

@font-face {
  font-family: "Rubik Dirt";
  font-style: normal;
  src: url("../public/fonts/RubikDirt-Regular.ttf") format("opentype");
  font-feature-settings: "dlig" on;
}

@font-face {
  font-family: "Rubik Doodle triangles";
  src: url("../public/fonts/RubikDoodleTriangles-Regular.ttf")
    format("opentype");
  font-feature-settings: "dlig" on;
}

@font-face {
  font-family: "Rubik Beastly";
  src: url("../public/fonts/RubikBeastly-Regular.ttf") format("opentype");
  font-feature-settings: "dlig" on;
}

$desktop: 1440px;
$tablet: 690px;
$mobile: 375px;
$menu-size: 176px;
$font: "Inter Variable", sans-serif;
$font-rubik: "Rubik Dirt", sans-serif;
$font-doodle: "Rubik Doodle triangles", sans-serif;
$font-beastly: "Rubik Beastly", sans-serif;
$black-color: #000000;
$shop-yellow: #ffaa00;
$shop-star-yellow: #ffcc00;
$shop-almost-white: #f2f7f7;
$shop-white: #ffffff;
$shop-black: #090909;
$shop-blue: #2e09e5;
$shop-gray: #bccdd1;
$shop-red: #f94233;
$catalog-old-price-color: #87e0ff;
$shop-fire: linear-gradient(99deg, #fa0 -8.11%, #f94233 86.42%);
$button-border-radius: 12px;
$shop-light-gray: #e1eced;
$medium-font-size: 22px;
$small-medium-font-size: 16px;

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
}

@mixin medium-style {
  font-family: $font;
  font-size: $medium-font-size;
  font-style: normal;
  font-weight: 550;
  line-height: 100%;
}

@mixin regular($color) {
  color: $color;
  font-feature-settings:
    "case" on,
    "cpsp" on,
    "ss01" on,
    "ss04" on,
    "cv01" on,
    "cv02" on,
    "cv03" on,
    "cv04" on,
    "calt" off;
  font-family: $font;
  font-size: 22px;
  font-style: normal;
  font-weight: 412;
  line-height: 100%;
}

@mixin small-regular {
  font-family: $font;
  font-size: $small-medium-font-size;
  font-style: normal;
  font-weight: 412;
  line-height: 100%;
}
@mixin typography($color: $shop-black) {
  @include medium-style;
  color: $color;
  font-variant-numeric: ordinal;
  font-feature-settings:
    "dlig" on,
    "ss01" on,
    "ss04" on,
    "cv01" on,
    "cv02" on,
    "cv03" on,
    "cv04" on;
}

@mixin discount-typography($size, $weight, $color, $lineHeight) {
  color: $color;
  font-variant-numeric: ordinal;
  font-feature-settings:
    "dlig" on,
    "ss01" on,
    "ss04" on,
    "ss07" on,
    "ss08" on,
    "cv01" on,
    "cv02" on,
    "cv03" on,
    "cv04" on;
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin small-medium() {
  font-size: 15px;
  font-family: $font;
  font-weight: 550;
  line-height: 15px;
}

@function find-difference($max, $min) {
  @return calc(($max - $min) / 1);
}

@function set-new-value($old-value, $new-value, $max-viewport, $min-viewport) {
  $sizes-difference: find-difference($old-value, $new-value);
  $viewport-difference: find-difference($max-viewport, $min-viewport);
  @return calc(
    (
      $old-value -
        (($max-viewport - 100vw) * ($sizes-difference / $viewport-difference))
    )
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
