@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  src: url("../public/fonts/InterVariable.woff2") format("woff2");
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}

$desktop: 1440px;
$tablet: 690px;
$mobile: 375px;
$menu-size: 176px;
$app-background: #ffffff;
$font: "Inter Variable", sans-serif;
$font-feature-settings:
  "liga" 1,
  "calt" 1; /* fix for Chrome */
$black-color: #000000;
$white-color: #ffffff;
$shop-black: #090909;
$shop-gray: #bccdd1;
$button-color: #f94233;
$button-hover: linear-gradient(99deg, #fa0 -8.11%, #f94233 86.42%);
$button-border-radius: 12px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
