$catalog-background-color:
  linear-gradient(to bottom right, #00fbff 0%, #0051ff 50%) bottom right / 50%
    50% no-repeat,
  linear-gradient(to bottom left, #00fbff 0%, #0051ff 50%) bottom left / 50% 50%
    no-repeat,
  linear-gradient(to top left, #00fbff 0%, #0051ff 50%) top left / 50% 50%
    no-repeat,
  linear-gradient(to top right, #00fbff 0%, #0051ff 50%) top right / 50% 50%
    no-repeat,
  #090909;
$catalog-border-radius: 12px;
$container-gap: 100px;
$container-gap-mobile: 28px;

@use "../../Main";
.container {
  @include Main.flex-column();
  width: 100%;
}

.catalog-container {
  background: $catalog-background-color;
  padding: 32px 0 3px 4px;
  border-radius: $catalog-border-radius;
  margin-bottom: $container-gap;
  @media (min-width: Main.$mobile + 1px) and (max-width: Main.$desktop - 1px) {
    padding: 12px 0 0 4px;
    margin-bottom: Main.set-new-value(
      $container-gap,
      $container-gap-mobile,
      Main.$desktop - 1px,
      Main.$mobile
    );
  }
  @media (max-width: Main.$mobile + 1px) {
    padding: 12px 0 0 4px;
    margin-bottom: $container-gap-mobile;
  }
}
