@use "../Main";
$categories-wrapper-width: 1282px;

.main {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  &__categories {
    max-width: $categories-wrapper-width;
    padding: 0 16px;
    @media (max-width: Main.$mobile + 1px) {
      padding: 0;
    }
  }
}
