@use "../../../../../../../Main";

$name-weight: 500;
$name-size: 60px;
$name-size-mobile: 22px;
$name-height: 91%;

.product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.catalog-product-name {
  @include Main.small-medium();
  color: Main.$shop-white;
  font-variant-numeric: ordinal;
  font-feature-settings:
    "dlig" on,
    "ss01" on,
    "ss04" on,
    "ss07" on,
    "ss08" on,
    "cv01" on,
    "cv02" on,
    "cv03" on,
    "cv04" on;
  margin-bottom: 12px;
  @media (max-width: Main.$mobile + 1px) {
    margin-bottom: 0;
  }
}

.products-product-name {
  color: Main.$black-color;
  font-size: $name-size;
  font-family: Main.$font;
  font-weight: $name-weight;
  line-height: $name-height;
  @media (min-width: Main.$mobile) and (max-width: Main.$desktop - 1px) {
    @include Main.typography();
    font-size: Main.set-new-value(
      $name-size,
      $name-size-mobile,
      Main.$desktop - 1px,
      Main.$mobile
    );
  }
}
