$catalog-info-max-width: 283px;
@use "../../../../../Main";

.info {
  display: flex;
  justify-content: space-between;
}

.catalog-snippet__info {
  flex-direction: column;
  max-width: $catalog-info-max-width;
  padding: 0 12px;
  @media (max-width: Main.$mobile + 1px) {
    padding: 0 6px;
  }
}
