@use "../Main";
$container-bottom-gap: 100px;
$padding-top: 54px;
$mobile-padding-top: 36px;
$products-heading-bottom-gap: 30px;
$products-heading-text-left: 10px;
$heading-container-height: 80px;

.products {
  padding-top: $padding-top;
  @media (max-width: Main.$mobile) {
    padding-top: $mobile-padding-top;
  }
  &__container {
    margin-bottom: $container-bottom-gap;
  }
  &__heading {
    position: relative;
    height: $heading-container-height;
    margin-bottom: $products-heading-bottom-gap;
  }
  &__heading-text {
    color: Main.$shop-black;
    position: absolute;
    left: $products-heading-text-left;
    z-index: 1;
  }
}
